WebService/IAS.DataServices/Service References/ADService/AD_Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://oicwebsvc.oic.or.th/APIAuthentication/AD_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ADService" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ADService" minOccurs="0" name="LoginResult" nillable="true" type="q1:LoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>