WebService/IAS.DataServices/Service References/ADService/AD_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ADService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ADService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
</xs:schema>