Web/IAS/Service References/EmailSmtpService/EmailSmtpService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IAS.Common.Email" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IAS.Common.Email" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/Email/EmailSmtpService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="ArrayOfAttachStream">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachStream" nillable="true" type="tns:AttachStream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachStream" nillable="true" type="tns:ArrayOfAttachStream" />
  <xs:complexType name="AttachStream">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="FileStream" nillable="true" type="q1:Stream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttachStream" nillable="true" type="tns:AttachStream" />
</xs:schema>