Web/IAS/Service References/FileManagement/FileService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/FileManagement/FileService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:9999/FileManagement/FileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IAS.DataServices.FileManagement" />
  <xs:element name="FileUploadMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileByteStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IAS.DataServices.FileManagement" name="Metadata" nillable="true" type="q2:FileMetaData" />
  <xs:element name="FileDownloadMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IAS.DataServices.FileManagement" name="FileMetaData" nillable="true" type="q3:FileMetaData" />
  <xs:element name="FileDownloadReturnMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="FileByteStream" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IAS.DataServices.FileManagement" name="DownloadedFileMetadata" nillable="true" type="q5:FileMetaData" />
  <xs:element name="DownloadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/Message" name="FileByteStream" type="q6:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="firstName" nillable="true" type="xs:string" />
  <xs:element name="lastName" nillable="true" type="xs:string" />
  <xs:element name="memberType" nillable="true" type="xs:string" />
  <xs:element name="oicUserName" nillable="true" type="xs:string" />
  <xs:element name="preNameCode" nillable="true" type="xs:string" />
  <xs:element name="sex" nillable="true" type="xs:string" />
  <xs:element name="userId" nillable="true" type="xs:string" />
  <xs:element name="RemoteFileInfoAddOic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="FileByteStream" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="oicEmpNo" nillable="true" type="xs:string" />
  <xs:element name="oicTypeCode" nillable="true" type="xs:string" />
</xs:schema>