Web/IAS.BLL/Service References/FileManagement/FileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IAS.DataServices.FileManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IAS.DataServices.FileManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="localFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remoteFilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="targetFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resMsg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileMetaData" nillable="true" type="tns:FileMetaData" />
</xs:schema>