Web/IAS/Service References/AccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9999/Account/AccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9999/Account/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9999/Account/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IAS.DTO" />
      <xsd:import schemaLocation="http://localhost:9999/Account/AccountService.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_GetAccountDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountDetail" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccountDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccountDetailById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountDetailById" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccountDetailById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountDetailByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_EditMemberTypeAndActive_InputMessage">
    <wsdl:part name="parameters" element="tns:EditMemberTypeAndActive" />
  </wsdl:message>
  <wsdl:message name="IAccountService_EditMemberTypeAndActive_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditMemberTypeAndActiveResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_IsChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:IsChangePassword" />
  </wsdl:message>
  <wsdl:message name="IAccountService_IsChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_DisableUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DisableUser" />
  </wsdl:message>
  <wsdl:message name="IAccountService_DisableUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisableUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ChangePasswordByAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordByAdmin" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ChangePasswordByAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordByAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SelectApploveDocumentType_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectApploveDocumentType" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SelectApploveDocumentType_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectApploveDocumentTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SelectAsso_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAsso" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SelectAsso_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAssoResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SelectAssoApplove_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAssoApplove" />
  </wsdl:message>
  <wsdl:message name="IAccountService_SelectAssoApplove_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAssoApploveResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddAssocitionApplove_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAssocitionApplove" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddAssocitionApplove_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAssocitionApploveResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateApploveDoctype_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApploveDoctype" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateApploveDoctype_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApploveDoctypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAssociationNameById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociationNameById" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAssociationNameById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociationNameByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetCompanyNameById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyNameById" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetCompanyNameById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyNameByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="GetAccountDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetAccountDetail" message="tns:IAccountService_GetAccountDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetAccountDetailResponse" message="tns:IAccountService_GetAccountDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountDetailById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetAccountDetailById" message="tns:IAccountService_GetAccountDetailById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetAccountDetailByIdResponse" message="tns:IAccountService_GetAccountDetailById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditMemberTypeAndActive">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/EditMemberTypeAndActive" message="tns:IAccountService_EditMemberTypeAndActive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/EditMemberTypeAndActiveResponse" message="tns:IAccountService_EditMemberTypeAndActive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/IsChangePassword" message="tns:IAccountService_IsChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/IsChangePasswordResponse" message="tns:IAccountService_IsChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/ChangePassword" message="tns:IAccountService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/ChangePasswordResponse" message="tns:IAccountService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/DisableUser" message="tns:IAccountService_DisableUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/DisableUserResponse" message="tns:IAccountService_DisableUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordByAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/ChangePasswordByAdmin" message="tns:IAccountService_ChangePasswordByAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/ChangePasswordByAdminResponse" message="tns:IAccountService_ChangePasswordByAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectApploveDocumentType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/SelectApploveDocumentType" message="tns:IAccountService_SelectApploveDocumentType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/SelectApploveDocumentTypeResponse" message="tns:IAccountService_SelectApploveDocumentType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAsso">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/SelectAsso" message="tns:IAccountService_SelectAsso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/SelectAssoResponse" message="tns:IAccountService_SelectAsso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAssoApplove">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/SelectAssoApplove" message="tns:IAccountService_SelectAssoApplove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/SelectAssoApploveResponse" message="tns:IAccountService_SelectAssoApplove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAssocitionApplove">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/AddAssocitionApplove" message="tns:IAccountService_AddAssocitionApplove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/AddAssocitionApploveResponse" message="tns:IAccountService_AddAssocitionApplove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateApploveDoctype">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/UpdateApploveDoctype" message="tns:IAccountService_UpdateApploveDoctype_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/UpdateApploveDoctypeResponse" message="tns:IAccountService_UpdateApploveDoctype_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssociationNameById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetAssociationNameById" message="tns:IAccountService_GetAssociationNameById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetAssociationNameByIdResponse" message="tns:IAccountService_GetAssociationNameById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyNameById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetCompanyNameById" message="tns:IAccountService_GetCompanyNameById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetCompanyNameByIdResponse" message="tns:IAccountService_GetCompanyNameById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountDetail">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetAccountDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountDetailById">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetAccountDetailById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMemberTypeAndActive">
      <soap:operation soapAction="http://tempuri.org/IAccountService/EditMemberTypeAndActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsChangePassword">
      <soap:operation soapAction="http://tempuri.org/IAccountService/IsChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IAccountService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <soap:operation soapAction="http://tempuri.org/IAccountService/DisableUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordByAdmin">
      <soap:operation soapAction="http://tempuri.org/IAccountService/ChangePasswordByAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectApploveDocumentType">
      <soap:operation soapAction="http://tempuri.org/IAccountService/SelectApploveDocumentType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAsso">
      <soap:operation soapAction="http://tempuri.org/IAccountService/SelectAsso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAssoApplove">
      <soap:operation soapAction="http://tempuri.org/IAccountService/SelectAssoApplove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAssocitionApplove">
      <soap:operation soapAction="http://tempuri.org/IAccountService/AddAssocitionApplove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApploveDoctype">
      <soap:operation soapAction="http://tempuri.org/IAccountService/UpdateApploveDoctype" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociationNameById">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetAssociationNameById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyNameById">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetCompanyNameById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:9999/Account/AccountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>